<div class="image-box" style="--image-url: url(https://picsum.photos/3000/2000)">
  <h1>Trash2Cash</h1>


</div>

<div class="topic">
  <h1>บริเวณตำแหน่งถังขยะ</h1>
</div>


<div class="main">
  <div class="wrap-table100">
    <div class="table100">
      <table>
        <thead>
          <tr class="row100 head">
            <th class="cell100 column2">ลำดับ</th>
            <th class="cell100 column3">สถานที่</th>
            <th class="cell100 column4">ปริมาณขยะ</th>

          </tr>
        </thead>
        <tbody>
          <tr class="row100 body">
            <td class="cell100 column2">1</td>
            <td class="cell100 column3">ตึก 1</td>
            <td class="cell100 column4">
              <div>
                <progressbar max="100" [value]="10" [striped]="true" [animate]="true"><i>10 / 100</i></progressbar>
              </div>
            </td>

          </tr>

          <tr class="row100 body">
            <td class="cell100 column2">2</td>
            <td class="cell100 column3">ตึก 2</td>
            <td class="cell100 column4">
              <div>
                <progressbar max="100" [value]="50" [striped]="true" [animate]="true"><i>50 / 100</i></progressbar>
              </div>
            </td>

          </tr>

          <tr class="row100 body">
              <td class="cell100 column2">3</td>
              <td class="cell100 column3">ตึก 3</td>
              <td class="cell100 column4">
                <div>
                  <progressbar max="100" [value]="99" type="danger" [striped]="true" [animate]="true"><i>99 / 100</i></progressbar>
                </div>
              </td>
  
            </tr>

            <tr class="row100 body">
                <td class="cell100 column2">4</td>
                <td class="cell100 column3">ตึก 4</td>
                <td class="cell100 column4">
                  <div>
                    <progressbar max="100" [value]="80" type="warning" [striped]="true" [animate]="true"><i>80 / 100</i></progressbar>
                  </div>
                </td>
    
              </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="map">
    <agm-map [latitude]="13.160400" [longitude]="101.108300">
      <agm-marker [latitude]="13.160400" [longitude]="101.108300">
        <agm-info-window>Chonburi</agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>



<div class="footer">
  
  <div class="column">
      <div class="photo">
          <!-- <img src="../assets/image/face1.jpg"> -->
        </div>
    <h2>P'Arm</h2>
    <p>Developer</p>
  </div>
  <div class="column">
      <div class="photo">
          <!-- <img src="../assets/image/face2.jpg"> -->
        </div>
    <h2>P'Each</h2>
    <p>Developer</p>
  </div>
  <div class="column">
      <div class="photo">
          <!-- <img src="../assets/image/face3.jpg"> -->
        </div>
    <h2>Saint</h2>
    <p>Developer</p>
  </div>
</div>













<!-- <router-outlet></router-outlet> -->